nav{
    background-color: black;
    height: 50px;
    margin-top: -16px;
}
li{
    float: left;
    margin: 10px;
    list-style: none;
    font-size: 20px;
    font-family: monospace;
    color: white;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: red;
}
ul{
    width: 100%;
    margin-top: 0;
}
.derecha{
    float: right;
    margin-right: 60px;
}
.derecha2{
    float: right;
    margin-right: 20px;
}
