* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html, body{
    font-family: 'Mulish';
    font-size: 16px;
    background-color: #a7a5a5;
}

.container{
    margin: 2em auto;
    width: 80%;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
}
h3{
    font-weight: bold;
    margin-top: 1em;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    li{
        margin: 0.5em;
        text-align: center;
        font-weight: bold;
        a{
            list-style: none;
            text-decoration: none;
            color: antiquewhite;
            &:hover{
                color: rgb(255, 166, 0);
            }
        }
    }
}

