.solucion {
    position: relative;
    display: inline-block;
}

/* Estilo para la etiqueta <pre> inicialmente oculta */
.solucion pre {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para la imagen que se ajusta al contenedor */
.solucion img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo para mostrar la etiqueta <pre> al pasar el ratón */
.solucion:hover pre {
    opacity: 1;
}

