body, header{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    width: 100%;
    height: 100px;
    background-color: black;
    border-bottom: 10px solid rgb(71, 71, 71);
}

p{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    margin: 0;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    text-decoration: underline;
}
section{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 1em;
}
article{
    margin: 15px 10px;
}
.article{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 10px 10px 10px;
}
.article:hover{
    outline: 2px solid rgb(66, 12, 12);
    img{
        opacity: 0.8;
    }
}