.gallery{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    img{
        max-width: 100%;
    }
}

.dobleCard {
    grid-column: span 2;
    grid-row: span 0.5;
}