
p{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container{
    background-color: beige;
    display: grid;
    grid-template-columns: 15% 30% 30%;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: center;
    margin:auto;
    padding: 7em 0;
    text-align: center;
}

.container div{
    min-height: 7em;
    border: 5px solid #686464;
}

.cabecera{
    background-color: blue;
    min-height:7em;
    display: flex;
    align-items: center;
}

.cabecera p{
    text-align: center;
    width: 100%;
}

.aside{
    background-color:red;
    grid-row: 2/5;
    display: flex;
    align-items: center;
}
.aside p{
    width: 100%;
    text-align: center;
}

.section{
    background-color: yellow;
    grid-column: 1/4;
    display: flex;
    align-items: center;
}
.section p{
    width: 100%;
}

.article1{
    background-color: rgb(165, 42, 155);
    grid-column: 2/3;
    display: flex;
    align-items: center;
}
.article1 p{
    width: 100%;
}


.article2{
    background-color: green;
    display: flex;
    align-items: center;
}

.article2 p{
    width: 100%;
}

.article3{
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
}

.article3 p{
    width: 100%;
}

.article4{
    background-color: yellowgreen;
    display: flex;
    align-items: center;
}

.article4 p{
    width: 100%;
}

.footer{
    background-color: rgb(51, 129, 153);
    grid-column: 1/4;
    display: flex;
    align-items: center;
}
.footer p{
    width: 100%;
    text-align: center;
}
