*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 8px;
}

body{
    background-color: rgb(172, 22, 22);
}

.header{
    background-color: rgb(155, 150, 150);
    margin-bottom: 3em;
}

.header li{
    padding-left: 1.5em;
}

h1,h2,h3,h4,h5,h6{
    font-size: xx-large;
}

p{
    font-size:medium;
}

a{
    font-size: x-large;
}
.listaSeries{
    background-color: rgb(155, 150, 150);
}
.listaSeries ul{
    display: flex;
    flex-wrap: wrap;
}
.listaSeries li{
    padding: 1em;
}

img{
    min-height: 18em;
    min-width: 10em;
    border: 1px solid black;
    box-shadow: 5px 5px 10px red;
    
}

.sideBar{
    border: 1px solid black;
    padding: 2em 1.5em;
    background-color: rgb(155, 150, 150);
    margin-right: 8em;
}

.sideBar h2{
    text-decoration: underline;
}

.footer{
    background-color: rgb(155, 150, 150);
    position: fixed;
    bottom: 0;
    width: 100%;
}