
pre {
    background-color: #000000;
    color: #1dd73f;
    border: 1px solid #ffffff;
    box-shadow: #ffffff 8px 8px 15px;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-wrap;
    font-family: 'Courier New', monospace; 
    font-size: 14px; 
    line-height: 1.4;
    overflow-x: auto; /* Barra de desplazamiento horizontal si es necesario */
}

pre code {
    display: block; /* Asegura que el código ocupe todo el ancho disponible */
}

