/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.search-bar {
    display: flex;
}

/* Estilos del contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ddd;
}

.container {
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 20px;
    border: 1px solid #313131;
    background-color: #494848;
    color: #fff;
    font-size: xx-large;
    min-height: 10em;
}

.containerArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.article{
    background-color: #ddd;
    min-width: 10vh;
    border: 1px solid black;
    height: 10vh;
}

.article p{
    width:100%;
}

.barraLateral{
    margin-right: 3em;
    padding: 20px;
    border: 1px solid #313131;
    background-color: #494848;
    color: #fff;
    font-size: xx-large;
    min-height: 10em;
    display: flex;
}

.barraLateral p{
    margin: auto;
}



.container p{
    margin: auto;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;

}

.icons {
    font-size: 24px;
}

/* Estilos de íconos (puedes usar íconos reales aquí) */
.fa {
    margin: 0 10px;
}
